.notification .title {
    color: #fff !important;
    font-size: 1em !important;
    line-height: 1.2em !important;
    font-weight: bold !important;
    margin: 0 0 5px 0 !important;
}

.notification .message {
    color: #fff !important;
    border-radius: 0 !important;
    background-color: transparent !important;
}