// Colors
$primary: #60D9FB;

// Page
$page-offset: 3rem;
$page-padding: 20px;

$page-footer-height: 50px;

// Navbar
$navbar-height: 3rem;

// Sidebar
$sidebar-width: 200px;
$sidebar-height: 100vh;
$sidebar-offset: 3rem;
$sidebar-collapsed-width: 50px;
$sidebar-background: #F5F5F5;

$sidebar-header-height: 50px;
$sidebar-header-background: #F5F5F5;

$sidebar-item-height: 50px;
$sidebar-item-count-bottom: 1;

$sidebar-item-text-size: 0.95rem;
$sidebar-item-text-weight: 400;
$sidebar-item-text-color: #4A4A4A;
$sidebar-item-icon-color: #4A4A4A;

$sidebar-item-active-text-color: #363636;
$sidebar-item-active-icon-color: #363636;
$sidebar-item-active-background: #DBDBDB;

// Loader
$loader-text-color: $primary;
$loader-background-color: $primary;