// Variables
@import "variables.scss";

// Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";

@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/form.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/elements/table.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/container.sass";

@import "bulma/sass/grid/tiles.sass";
@import "bulma/sass/grid/columns.sass";

@import "bulma/sass/components/list.sass";
@import "bulma/sass/components/modal.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/message.sass";
@import "bulma/sass/components/dropdown.sass";

@import "bulma-pageloader/src/sass/index.sass";

// Custom
@import "flex.scss";
@import "page.scss";
@import "board.scss";
@import "table.scss";
@import "navbar.scss";
@import "loader.scss";
@import "button.scss";
@import "general.scss";
@import "spacing.scss";
@import "sidebar.scss";
@import "dropdown.scss";
@import "container.scss";
@import "typography.scss";
@import "notification.scss";