.board
    cursor: pointer

.favorite-btn
    color: hsl(48,  100%, 67%)


.favorite-btn:hover .not-fav,
.favorite-btn .fav
    display: none

.favorite-btn:hover .fav
    display: inline
    cursor: pointer

.archive-btn,
.archive-btn-checked 
    color: #3273dc

.archive-btn:hover .not-fav,
.archive-btn-checked .not-fav,
.archive-btn .fav,
.archive-btn-checked .fav,
    display: none

.archive-btn:hover .fav,
.archive-btn-checked .fav,
    display: inline
    cursor: pointer

.delete-btn
    color: #ff3860

.delete-btn:hover .not-fav,
.delete-btn .fav
    display: none

.delete-btn:hover .fav
    display: inline
    cursor: pointer