
.content .boards-list
    margin: 0
    padding: 10px

.board
    background-color: grey
    padding: 15px
    border-radius: 5px

.board:hover
    background-color: lightgray
    cursor: pointer

.board-header
    border-radius: 5px
    margin-bottom: 10px
    
.delete-btn
    color: darkred

.delete-btn:hover
    color: red
  
.archive-btn
    color: darkgrey

.archive-btn:hover
    color: black
    cursor: pointer

.favorite-btn
    color: yellow

.favorite-btn:hover .not-fav,
.favorite-btn .fav
    display: none

.favorite-btn:hover .fav
    display: inline
    cursor: pointer