/* -------------------- Navigation -------------------- */
.navbar
    display: flex
    flex-grow: 1
    box-shadow: $box-shadow

    div
        display: flex
        flex-grow: 1
        flex-shrink: 0
        align-items: center

    .navbar-start
        flex: 1
        justify-content: flex-start
        margin-right: auto

    .navbar-center
        flex: 1
        justify-content: center

    .navbar-end
        flex: 1
        justify-content: flex-end
        margin-left: auto
    
    .navbar-logo
        height: 30px