/* ---------------------- Spacing --------------------- */
$spacings: 0rem 0.25rem 0.5rem 1rem 1.5rem 3rem

@each $margin in $spacings
    $i: index($spacings, $margin) - 1;
    .has-margin-top-#{$i}
        margin-top: $margin !important
    .has-margin-bottom-#{$i}
        margin-bottom: $margin !important
    .has-margin-left-#{$i}
        margin-left: $margin !important
    .has-margin-right-#{$i}
        margin-right: $margin !important
    .has-margin-x-#{$i}
        margin-left: $margin !important
        margin-right: $margin !important
    .has-margin-y-#{$i}
        margin-top: $margin !important
        margin-bottom: $margin !important

@each $padding in $spacings
    $i: index($spacings, $padding) - 1;
    .has-padding-top-#{$i}
        padding-top: $padding !important
    .has-padding-bottom-#{$i}
        padding-bottom: $padding !important
    .has-padding-left-#{$i}
        padding-left: $padding !important
    .has-padding-right-#{$i}
        padding-right: $padding !important
    .has-padding-x-#{$i}
        padding-left: $padding
        padding-right: $padding !important
    .has-padding-y-#{$i}
        padding-top: $padding !important
        padding-bottom: $padding !important